.listTitle {
  height: 3rem;
  padding: 0 1rem;
  background: #1f1f1f;
  border-bottom: 1px solid  #2b2b2b;
  .listTitle-c {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 3rem;
    color: #f44336;
  }
}